@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border outline-ring/50;
    text-transform: lowercase;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: var(--text-h1);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
    font-family: var(--font-heading);
  }

  h2 {
    font-size: var(--text-h2);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
    font-family: var(--font-heading);
  }

  h3 {
    font-size: var(--text-h3);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
    font-family: var(--font-heading);
  }

  h4 {
    font-size: var(--text-h4);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
    font-family: var(--font-heading);
  }

  p {
    font-size: var(--text-body);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    font-family: var(--font-body);
  }

  label {
    font-size: var(--text-body);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }

  button {
    font-size: var(--text-body);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }

  input {
    font-size: var(--text-body);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }
}
